<div class="text-text-400 w-96">To see the items from specific domains please select one of the communities:</div>
<div class="mt-6">
  <!-- <div class="text-text-400 pb-1">Domain:</div>
  <app-menu
    type="vertical"
    [options]="[
      { label: 'Menu label 1', content: 'Menu content 1' },
      { label: 'Menu label 2', content: 'Menu content 2' },
      { label: 'Menu label 3', content: 'Menu content 3' }
    ]"
  >
    <ng-template #labelRef let-item>
      {{ item.label }}
    </ng-template>
    <ng-template #contentRef let-item>
      <div class="ml-6">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="search($event)"
            placeholder="Search for community..."
            style="width: 256px"
          />
        </span>
        <div class="flex flex-col gap-4 mt-8">
          <div *ngFor="let community of communities">
            <app-pictogram>
              <ng-template #pictogramRef>
                <mat-icon> lightbulb </mat-icon>
              </ng-template>
              <div class="flex items-center justify-between">
                <div class="w-96 flex flex-col gap-1">
                  <div class="text-text-500">{{ community.name }}</div>
                  <div class="text-text-300">{{ community.description }}</div>
                </div>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </div>
            </app-pictogram>
          </div>
        </div>
      </div>
    </ng-template>
  </app-menu> -->
  <div>
    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        (input)="search($event)"
        placeholder="Search for community..."
        style="width: 256px"
      />
    </span>
    <div class="flex flex-col gap-2 mt-8 max-h-96 overflow-auto">
      <div *ngFor="let community of displayedCommunities">
        <div (click)="selectCommunity(community)" class="cursor-pointer">
          <app-pictogram shape="square">
            <ng-template #pictogramRef>
              <i class="pi pi-users" style="font-size: 1.5rem"></i>
            </ng-template>
            <div class="flex items-center justify-between">
              <div class="flex flex-col gap-1"  style="width: 460px">
                <div class="text-text-500 h-7">{{ community.name }}</div>
                <div *ngIf="community.description" class="text-text-300 leading-none pb-2 mt-1">{{ community.description }}</div>
              </div>
              <img src="assets/icons/tap-icon.png" alt="" [width]="24" [height]="24" />
            </div>
          </app-pictogram>
        </div>
      </div>
    </div>
  </div>
</div>
