<div class="fixed -z-10 h-full">
  <div class="h-full flex grow">
    <div [ngClass]="['bg-primary-600', folded ? 'w-12' : 'w-56']">
      <div style="height: 12px"></div>
      <!-- <app-nav-button path="components-library" name="Components" icon="space_dashboard" [folded]="folded"></app-nav-button> -->
      <app-nav-button path="items" name="Items" icon="pi-list" [folded]="folded"></app-nav-button>
      <app-nav-button path="query" name="Run Query" icon="pi-database" [folded]="folded"></app-nav-button>
    </div>
  </div>
</div>
