*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}

.ellipsis {
  @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
}

.custom-shadow {
  -webkit-box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.45);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.item {
  @apply text-sm;
}

.item .label {
  @apply font-medium text-xs;
}

.item .content {
  @apply pl-1 p-0.5;
}

.no-data {
  @apply text-xs font-medium w-48;
}

.card {
  @apply bg-lightGrey;
  @apply rounded-sm;
  border: 1px solid #DEE2E6;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.card-dense {
  @apply card;
  @apply py-2;
}

.card-loose {
  @apply card;
  @apply py-4;
}

.icon-xs {
  @include icon-size(20px);
}

.icon-sm {
  @include icon-size(24px);
}

.icon-md {
  @include icon-size(32px);
}

.section {
  @apply rounded-sm bg-white p-6;
  border: 1px solid #DEE2E6;
}

.p-fieldset-legend {
  margin-left: 1.25rem;
}