*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}

body {
  @apply font-primary not-italic font-light bg-primary-50;
  // line-height: 1.3;

  /* scrollbar theme overridden with below theme */

  ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      @apply bg-transparent;
  }

  /* Handle, default i.e will not go below this dimensions */
  ::-webkit-scrollbar-thumb {
      @apply bg-grey;
      @apply rounded-sm;
      width: 100px;
      height: 100px;
  }

  ::-webkit-scrollbar-corner {
      @apply bg-transparent;
  }

  /* Thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
      @apply bg-grey;
      @apply rounded-sm;
  }

  /* For mobile taps, remove blue tap */
  -webkit-tap-highlight-color: transparent;
}


.ellipsis {
  @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
}

.custom-shadow {
  -webkit-box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.45);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.item-label {
  @apply text-text-300 text-sm capitalize font-bold;
}

.no-data {
  @apply text-xs font-medium w-48;
}

.card {
  @apply bg-lightGrey;
  @apply rounded-sm;
  border: 1px solid #DEE2E6;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.card-action {
  @apply card;
  @apply rounded-sm;
  border: 2px solid #379593;
}

.card-dense {
  @apply card;
  @apply py-2;
}

.card-loose {
  @apply card;
  @apply py-4;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card-loose-primary {
  @apply card-loose;
  @apply bg-primary-50;
}

.section {
  @apply rounded-sm bg-white p-6;
  border: 1px solid #DEE2E6;
}

.section-pt-0 {
  @apply section;
  @apply pt-0;
}

button, [type='button'], [type='reset'], [type='submit'] {
  background-color: none;
}

.selectable-table {
  th {
    @apply cursor-default
  }
  
  tr {
    @apply cursor-pointer
  }
}

// <-- Arrow

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(10px);
    transform: translateX(10px);
  }
  60% {
    -moz-transform: translateX(8px);
    transform: translateX(8px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(8px);
    transform: translateX(10px);
  }
  60% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  60% {
    -moz-transform: translateX(8px);
    -ms-transform: translateX(8px);
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}

// Arrow -->