<app-logo iconTheme="dark"></app-logo>
<div class="h-4/5 flex items-center justify-center">
  <div class="flex items-center justify-center">
    <mat-card>
      <div class="pl-10 pr-6 pt-4 pb-40">
        <div class="flex justify-between">
          <div class="mt-8">
            <div
              class="text-lg tracking-widest font-bold text-primary-300 mb-4"
              i18n
            >
              Sign in
            </div>
            <div class="w-48" i18n>
              Log in to access all features of the
              <app-auroral-hyperlink></app-auroral-hyperlink>.
            </div>
          </div>
          <div class="w-32"></div>
          <mat-icon class="icon text-primary-100 opacity-20"
            >lock_open</mat-icon
          >
        </div>
        <div class="h-11"></div>
        <form [formGroup]="form">
          <div class="grid gap-4 grid-cols-1 text-center">
            <app-form-field
              formControlName="username"
              label="Username"
              leadingIcon="person"
              [required]="true"
            >
              <mat-error *ngIf="form.controls['username'].hasError('required')"
                >Please provide username</mat-error
              >
            </app-form-field>
            <app-form-field
              formControlName="password"
              label="Password"
              [isSecret]="true"
              leadingIcon="lock"
              [required]="true"
            >
              <mat-error *ngIf="form.controls['password'].hasError('required')"
                >Please provide password</mat-error
              ></app-form-field
            >
            <div class="grid grid-cols-1 gap-1">
              <app-button
                text="Log in"
                type="mat-raised-button"
                theme="accent"
                size="large"
                [loading]="loading"
                class="pt-6 pb-2"
                [disabled]="form.invalid"
                (click)="onLoginClick()"
              >
              </app-button>
              <div i18n>Don’t have an account?</div>
              <app-hyperlink
                text="Craete account"
                [routerLink]="['/auth/signup']"
              ></app-hyperlink>
            </div>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
