<div class="h-screen bg-primary-50 flex items-center justify-center">
  <mat-card>
    <div class="pl-10 pr-6 pt-4 pb-44 flex justify-between">
      <div class="mt-8">
        <div class="text-lg tracking-widest font-bold text-primary-300 mb-4">
          Sign in
        </div>
        <div class="w-48">
          Log in to access all features of
          <span class="font-medium text-secondary-500 cursor-pointer"
            >Auroral platform</span
          >.
        </div>
      </div>
      <mat-icon class="icon text-secondary-400 opacity-20">lock_open</mat-icon>
    </div>
  </mat-card>
</div>
