<div *ngIf="control" class="flex">
  <div *ngIf="leadingIcon" class="leading-icon">
    <mat-icon
      class=" {{
        focused
          ? 'text-secondary-300 opacity-100'
          : 'text-primary-500 opacity-60'
      }}"
    >
      {{ leadingIcon }}
    </mat-icon>
  </div>
  <div class="flex flex-col gap-0 text-left w-min">
    <mat-form-field
      appearance="fill"
      floatLabel="always"
      class="form-field"
      color="accent"
    >
      <mat-label>{{ label }}</mat-label>
      <div class="flex flex-row gap-1">
        <span *ngIf="prefix" matTextPrefix class="opacity-40">{{
          prefix
        }}</span>
        <input
          matInput
          [formControl]="control"
          [placeholder]="placeholder ?? ''"
          [type]="visible ? 'text' : 'password'"
          (focus)="setFocus(true)"
          (blur)="setFocus(false)"
          [required]="required"
        />
      </div>
      <mat-icon
        *ngIf="isSecret"
        class="text-primary-500 opacity-60 cursor-pointer"
        (click)="toggleVisibility()"
        matSuffix
        >{{ visible ? "visibility_off" : "visibility" }}</mat-icon
      >
    </mat-form-field>
    <div class="text-xs font-regular">
      <ng-content></ng-content>
    </div>
  </div>
</div>
