<div
  [ngClass]="[
    'btn',
    'flex',
    'items-center',
    'cursor-pointer',
    'font-medium',
    'text-text-50',
    'select-none',
    'h-12',
    folded ? 'w-12': 'w-36'
  ]"
  [routerLink]="[path]"
  [routerLinkActive]="'bg-primary-500'"
  [routerLinkActiveOptions]="{ exact: true }"
  #router="routerLinkActive"
  [matTooltip]="name ?? 'Menu item'"
  matTooltipPosition="after"
  [matTooltipDisabled]="!folded"
>
  <div *ngIf="router.isActive" class="w-1 h-12 bg-secondary-400 strip"></div>
  <div class="flex items-center px-4">
    <mat-icon aria-hidden="false" aria-label="Menu item" class="icon-xs">{{ icon ?? 'lens' }}</mat-icon>
    <div *ngIf="!folded" class="pl-2 text-white text-xs">{{ name ?? 'Menu item' }}</div>
  </div>
</div>
