<div
  class="rounded-full flex justify-center items-center text-primary-50"
  [style.width.px]="size"
  [style.height.px]="size"
  [style.background]="background"
>
  <img *ngIf="!showInitials" src="{{ photoUrl }}" class="rounded-full" />
  <div
    *ngIf="showInitials"
    [style.width]="size"
    [style.height]="size"
    [style.fontSize.px]="size / 3"
    [style.lineHeight.px]="size - 1"
    [style.color]="fontColor"
    [ngClass]=" size <= 40 ? 'font-medium': ''"
  >
    {{ initials }}
  </div>
</div>
