<p-table
  [value]="events ?? []"
  [scrollable]="true"
  [scrollHeight]="summaryMode ? '' : '200px'"
  styleClass="p-datatable-sm"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-event>
    <tr>
      <td>{{ event.name }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td>
        <div class="flex items-center text-text-300">
          <div>You don't any events defined.</div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
