<div mat-dialog-title>
  <app-pictogram name="Node" type="node"></app-pictogram>
  <div class="opacity-40">Register new node</div>
</div>
<div mat-dialog-content>
  <div class="w-fit h-80">
    <form [formGroup]="form">
      <div class="flex flex-col gap-4 items-start px-4">
        <app-text-field
          [control]="name"
          label="Name"
          placeholder="Tourism monitor"
        >
          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <mat-error *ngIf="name.hasError('required')"
              >Please provide the name</mat-error
            >
          </div>
        </app-text-field>
        <app-url-field [control]="url" [protocol]="protocol" label="Url">
          <div *ngIf="url.invalid && (url.dirty || url.touched)">
            <mat-error *ngIf="url.hasError('required')"
              >Please provide the url</mat-error
            >
          </div>
        </app-url-field>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions class="justify-end">
  <div class="px-8 py-6 flex justify-end">
    <app-button
      theme="warn"
      size="medium"
      type="mat-stroked-button"
      (click)="close()"
      [disabled]="loading"
      >Cancel</app-button
    >
    <div class="w-4"></div>
    <app-button
      theme="accent"
      size="medium"
      [disabled]="loading"
      [loading]="loading"
      (click)="registerNode()"
      >Create</app-button
    >
  </div>
</div>
