<div class="container card py-6">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 md:col-span-12 lg:col-span-3 xl:col-span-6">
      <div class="">
        <div>
          <app-item-icon [item]="item"></app-item-icon>
          <div class="text-medium text-text-500 text-md">{{ item.name }}</div>
        </div>
        <div class="mt-4">
          <div class="item w-96">
            <div class="label">Description:</div>
            <div class="content">{{ item.desc }}</div>
          </div>
          <div class="item w-96">
            <div class="label">Owner:</div>
            <div class="content">{{ item.desc }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-12 lg:col-span-9 xl:col-span-6">
      <div class="">
        <p-fieldset legend="Properties">
          <div class="grow w-full flex">
            <p-table
              [value]="item.properties ?? []"
              dataKey="pid"
              [filterDelay]="0"
              [scrollable]="true"
              scrollHeight="50vh"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Data Type</th>
                  <th>Data Units</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-prop>
                <tr>
                  <td>
                    {{ prop.name }}
                  </td>
                  <td>
                    {{ prop.type }}
                  </td>
                  <td>
                    {{ prop.datatype }}
                  </td>
                  <td>
                    {{ prop.dataunits }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <div class="flex flex-col px-4 py-2 justify-start w-36 text-center">
                  <app-sad-face></app-sad-face>
                  No properties found
                </div>
              </ng-template>
            </p-table>
          </div>
        </p-fieldset>
      </div>
    </div>
  </div>
</div>
