<div class="h-screen">
  <app-logo iconTheme="dark"></app-logo>
  <div class="flex items-center justify-center m-t">
    <mat-card>
      <div class="pl-10 pr-6 pt-4 pb-40">
        <div class="flex justify-between">
          <div class="mt-8">
            <div
              class="text-lg tracking-widest font-bold text-primary-300 mb-4"
            >
              Verify email
            </div>
            <div class="w-48">
              Plasase log into your email accout <span>todo@email.com</span> and
              paste verification code below:
            </div>
          </div>
          <div class="w-32"></div>
          <mat-icon class="icon text-primary-100 opacity-20"
            >lock_open</mat-icon
          >
        </div>
        <div class="h-11"></div>
        <code-input [isCodeHidden]="true" [codeLength]="5"> </code-input>
      </div>
    </mat-card>
  </div>
</div>
