<div class="text-text-400 w-96">To see the items from specific partnership please select a partner:</div>
<div class="mt-6">
  <div>
    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input pInputText type="text" (input)="search($event)" placeholder="Search for partner..." style="width: 256px" />
    </span>
    <div class="flex flex-col gap-2 mt-8 max-h-96 overflow-auto">
      <div *ngFor="let partner of displayedPartners">
        <div (click)="selectPartner(partner)" class="cursor-pointer">
          <app-pictogram shape="square">
            <ng-template #pictogramRef>
              <div class="text-text-500 text-md">{{partner.name.charAt(0).toUpperCase()}}</div>
            </ng-template>
            <div class="flex items-center justify-between gap-4" style="width: 460px">
              <div class="text-text-500 h-8">{{ partner.name }}</div>
              <!-- <i class="pi pi-chevron-circle-right text-primary-500" style="font-size: 1rem"></i> -->
              <img src="assets/icons/tap-icon.png" alt="" [width]="24" [height]="24" />
            </div>
          </app-pictogram>
        </div>
      </div>
    </div>
  </div>
</div>
