<div mat-dialog-title>
  <div class="opacity-40">Unregister {{ detail.name }}</div>
</div>
<div mat-dialog-content>
  <div class="p-4">
    <div class="text-xs font-normal opacity-40 w-72">
      Are you sure you want to unregister following node from the app?
    </div>
    <div class="h-4"></div>
    <mat-card class="preview-card">
      <div class="flex flex-row w-full justify-between items-center">
        <div>
          <app-pictogram name="Node" type="node"></app-pictogram>
          <div class="h-2"></div>
          <div class="text-md font-normal opacity-80 w-56 break-words">
            {{ detail.name }}
          </div>
          <div class="opacity-20 font-medium text-xs">
            <span class="noselect cursor-default">agid: </span>{{ detail.agid }}
          </div>
        </div>
        <mat-icon class="icon-warn text-yellow-500"> warning </mat-icon>
      </div>
    </mat-card>
    <div class="h-8"></div>
    <div class="px-2 flex flex-row items-center gap-6">
      <mat-icon class="icon-warn text-yellow-500"> warning </mat-icon>
      <div class="text-xs font-normal opacity-40 w-96">
        This operation may result in some subscriptions or items to be temporary
        unavailable!<br /><br />After node has been removed we need to re-run
        discovery process. This operation may take several minutes to finnish.
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="justify-end">
  <div class="px-8 py-6 flex justify-end">
    <app-button
      theme="accent"
      size="medium"
      type="mat-stroked-button"
      (click)="close(false)"
      [disabled]="loading"
      >Keep</app-button
    >
    <div class="w-4"></div>
    <app-button
      theme="warn"
      size="medium"
      [disabled]="loading"
      [loading]="loading"
      (click)="unregisterNode()"
      ><mat-icon class="icon-minus">remove_circle_outline</mat-icon>
      <div>Unregister</div></app-button
    >
  </div>
</div>
