@import "styles";

table {
  width: 100%;
}

.mat-row {
  background-color: $subscriptions-bg;
}

.mat-header-row {
  background-color: $subscriptions-bg;
}

.mat-cell {
  @apply font-normal text-xs;
  width: 192px !important;
  text-align: start;
  justify-content: start;
}

.mat-column-name {
  width: 300px !important;
}

.mat-column-dataService {
  width: 300px !important;
}

.table-wrapper {
  width: 900px;
  padding-left: 16px;
  padding-right: 16px;
}

.content-wrapper {
  padding: 0px 1px 4px 1px;
  background-color: $subscriptions-bg;
  width: 100%;
}
