<div class="px-4">
  <div
    *ngIf="loadingNodes; else elseShowTable"
    class="flex justify-center items-center py-64"
  >
    <mat-spinner [diameter]="32"></mat-spinner>
  </div>
  <ng-template #elseShowTable>
    <div class="flex flex-row justify-end mt-6 mr-2">
      <app-button
        size="small"
        type="mat-flat-button"
        theme="accent"
        (click)="openRegisterNode()"
      >
        <div class="flex flex-row justify-center items-center gap-1">
          <mat-icon class="icon">add_circle_outline</mat-icon>
          <div>Register</div>
        </div>
      </app-button>
    </div>
    <app-table [columns]="nodesColumns" [data]="nodes">
      <ng-template #headerCellRef let-columnName>
        <ng-container [ngSwitch]="true">
          <div *ngSwitchDefault>{{ columnName | titlecase }}</div>
        </ng-container>
      </ng-template>
      <ng-template #cellRef let-data let-columnName="columnName">
        <div *ngIf="columnName === 'name'">
          <app-pictogram [name]="data.name" type="node"></app-pictogram>
        </div>
        <div *ngIf="columnName === 'agid'">
          <app-copy-to-clipboard
            message="Agid copied to clipboard"
            [value]="data.agid"
          >
            <div
              class="text-xs font-medium opacity-30 cursor-pointer"
            >
              {{ data.agid }}
            </div>
          </app-copy-to-clipboard>
        </div>
        <div *ngIf="columnName === 'base'">
          <div class="flex flex-row">
            <app-copy-to-clipboard
              message="Url copied to clipboard"
              [value]="data.base"
            >
              <div
                class="text-xs font-medium opacity-30 cursor-pointer"
              >
                {{ data.base }}
              </div>
            </app-copy-to-clipboard>
            <app-open-url [url]="data.base"></app-open-url>
          </div>
        </div>
      </ng-template>
      <ng-template #detailRef let-detail>
        <app-nodes-detail
          [detail]="detail"
          [deleteProtected]="nodes.data.length <= 1"
          [deleteCallback]="deleteNode"
          class="w-full"
        ></app-nodes-detail>
      </ng-template>
    </app-table>
  </ng-template>
</div>
