$primary: theme('colors.primary.500');
$accent: theme('colors.secondary.500');
$warn: theme('colors.danger');

$subscriptions-bg: rgba(247, 247, 247, 1.0);
$disabled: rgba(224, 224, 224, 1.0);

$primary-font: 'sans-serif';