// http://mcg.mbitson.com tool ot generate

@use '@angular/material'as mat;

$mat-custom-primary: (50 : #e6f0f1,
  100 : #c0d9dd,
  200 : #97c0c7,
  300 : #6da7b0,
  400 : #4d949f,
  500 : #2e818e,
  600 : #297986,
  700 : #236e7b,
  800 : #1d6471,
  900 : #12515f,
  A100 : #96eaff,
  A200 : #63e0ff,
  A400 : #30d6ff,
  A700 : #17d1ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$mat-custom-secondary: (50 : #e0f6fd,
  100 : #b3e9f9,
  200 : #80dbf5,
  300 : #4dccf1,
  400 : #26c1ee,
  500 : #00b6eb,
  600 : #00afe9,
  700 : #00a6e5,
  800 : #009ee2,
  900 : #008edd,
  A100 : #ffffff,
  A200 : #d1edff,
  A400 : #9ed8ff,
  A700 : #85ceff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$mat-custom-warn: (50 : #ffe3e3,
  100 : #ffb9b9,
  200 : #ff8b8b,
  300 : #ff5d5d,
  400 : #ff3a3a,
  500 : #ff1717,
  600 : #ff1414,
  700 : #ff1111,
  800 : #ff0d0d,
  900 : #ff0707,
  A100 : #ffffff,
  A200 : #fff4f4,
  A400 : #ffc1c1,
  A700 : #ffa7a7,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));