<!-- GRID EXAMPLE -->
<!-- <div class="container">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-6 xl:col-span-4"></div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-4"></div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-4"></div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-4"></div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-4"></div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-4"></div>
  </div>
</div> -->

<!---------------------- TABLE ---------------------->
<p-fieldset legend="Table">
  <div class="card-dense mb-4">Basic table</div>
  <div class="px-4">
    <app-table
      [columns]="['name', 'type', 'owner']"
      [data]="[
        {
          name: 'Name 1',
          type: 'Type 1',
          owner: 'Owner 1'
        },
        {
          name: 'Name 2',
          type: 'Type 2',
          owner: 'Owner 2'
        },
        {
          name: 'Name 3',
          type: 'Type 3',
          owner: 'Owner 3'
        }
      ]"
    >
      <ng-template #headerCellRef let-columnName
        ><div class="text-sm">{{ columnName }}</div></ng-template
      >
      <ng-template #cellRef let-data let-columnName="columnName">
        <div>
          {{ columnName }} is
          {{
            columnName == "name"
              ? data.name
              : columnName == "type"
              ? data.type
              : data.owner
          }}
        </div></ng-template
      >
      <ng-template #detailRef let-detail>
        <div>Name: {{ detail.name }}</div>
        <div>Type: {{ detail.type }}</div>
        <div>Owner: {{ detail.owner }}</div>
      </ng-template>
    </app-table>
  </div>

  <div class="h-16"></div>

  <div class="card-dense mb-4">Remote fetch table</div>
  <div class="px-4">
    <app-table
      [columns]="['name', 'type', 'owner']"
      [fetchData]="getItemsForFetchTable"
    >
      <ng-template #headerCellRef let-columnName
        ><div class="text-sm">{{ columnName }}</div></ng-template
      >
      <ng-template #cellRef let-data let-columnName="columnName">
        <div>
          {{ columnName }} is
          {{
            columnName == "name"
              ? data.name
              : columnName == "type"
              ? data.type
              : data.owner
          }}
        </div></ng-template
      >
      <ng-template #detailRef let-detail>
        <div>Name: {{ detail.name }}</div>
        <div>Type: {{ detail.type }}</div>
        <div>Owner: {{ detail.owner }}</div>
      </ng-template>
    </app-table>
  </div>

  <div class="h-16"></div>

  <div class="card-dense mb-4">Empty table</div>
  <div class="px-4">
    <app-table [columns]="['name', 'type', 'owner']" [data]="[]">
      <ng-template #headerCellRef let-columnName
        ><div class="text-sm">{{ columnName }}</div></ng-template
      >
      <ng-template #cellRef let-data let-columnName="columnName">
        <div>
          {{ columnName }} is
          {{
            columnName == "name"
              ? data.name
              : columnName == "type"
              ? data.type
              : data.owner
          }}
        </div></ng-template
      >
      <ng-template #detailRef let-detail>
        <div>Name: {{ detail.name }}</div>
        <div>Type: {{ detail.type }}</div>
        <div>Owner: {{ detail.owner }}</div>
      </ng-template>
    </app-table>
  </div>
</p-fieldset>
