@import 'styles';

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.element-detail {
  overflow: hidden;
}

.mat-row {
  position: relative;
}

.mat-row:nth-child(even) {
  @apply border-b border-grey border-opacity-10;
}

.element-row-arrow {
  position: absolute;
  top: -32px;
  right: 24px;
  z-index: 100;
}

td.mat-cell{
  border-bottom-style: none;
}

.mat-table {
  th {
      @apply bg-lightGrey;
  }

  th:first-child {
      @apply rounded-l-sm;
  }

  th:last-child {
      @apply rounded-r-sm;
  }

  tr.mat-header-row {
      @apply h-10;
  }

  tr:first-child th {
      border-bottom: none;
  }
}