<app-item-table
  [itemsUI]="communityItemsUI"
  [showSearch]="selectedCommunity !== undefined && !loading"
  [showTable]="selectedCommunity !== undefined"
  [loadingData]="loading"
  linkToDetail="/item-detail/community"
>
  <ng-template #tableControlRef>
    <div class="flex gap-4 items-center">
      <div class="w-56">
        <div
          [ngClass]="[
            'flex justify-between h-12 items-center cursor-pointer',
            selectedCommunity ? 'card' : 'card-action'
          ]"
          (click)="openSelectCommunityDialog()"
        >
          <div [ngClass]="[selectedCommunity ? 'text-black' : 'text-text-400', 'overflow-hidden']">
            {{ selectedCommunity?.name ?? 'Select community...' }}
          </div>
          <div class="mt-1.5">
            <i class="pi pi-chevron-down" style="font-size: 1rem"></i>
          </div>
        </div>
      </div>
      <div *ngIf="!selectedCommunity">
        <img src="assets/images/arrow-left.png" class="bounce" alt="" width="80" />
      </div>
    </div>
  </ng-template>
</app-item-table>
