<div class="wrapper h-screen" style="background-color: 'white'">
  <div class="h-4/5 flex justify-center items-center">
    <div>
      <div class="flex justify-end">
        <i class="pi pi-user-plus" style="font-size: 2.5rem"></i>
      </div>
      <div class="mt-8">
        <div class="text-md tracking-widest font-bold mb-4" i18n>
          Create account
        </div>
        <div class="w-48" i18n>
          Join Auroral community and help the platform grow.
        </div>
      </div>
      <div class="h-10"></div>
      <form [formGroup]="form">
        <div class="grid gap-8 grid-cols-1">
          <div class="grid grid-cols-1 gap-2">
            <label htmlFor="email">Email</label>
            <div class="flex items-center gap-2">
              <i class="pi pi-at"></i>
              <input
                pInputText
                id="email"
                [formControl]="email!"
                placeholder="john@doe.com"
                style="width: 256px;"
              />
            </div>
          </div>
          <div class="grid grid-cols-1 gap-2">
            <label htmlFor="password">Password</label>
            <small id="password-help">Create password.</small>
            <div>
              <div class="flex items-center gap-2">
                <i class="pi pi-lock"></i>
                <input
                  pInputText
                  id="password"
                  aria-describedby="password-help"
                  [formControl]="password!"
                  placeholder="Password"
                  style="width: 256px;"
                />
              </div>
            </div>

            <div>
              <div class="flex items-center gap-2">
                <i class="pi pi-lock"></i>
                <input
                  pInputText
                  id="repeat-password"
                  aria-describedby="password-help"
                  [formControl]="reapeatPassword!"
                  placeholder="Repeat password"
                  style="width: 256px;"
                />
              </div>
            </div>
          </div>
          <div class="buttons-wrapper grid gap-1 grid-cols-1 text-center">
            <p-button label="Sign up" [loading]="loading"></p-button>
            <div i18n>Already have an account?</div>
            <app-hyperlink
              text="Log in"
              [routerLink]="['/auth/login']"
            ></app-hyperlink>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
