<div class="wrapper h-screen" style="background-color: 'white'">
  <div class="h-4/5 text-primary-500 flex justify-center items-center">
    <div>
      <div class="flex justify-between">
        <div class="mt-8">
          <div
            class="text-lg tracking-widest font-bold text-primary-300 mb-4"
            i18n
          >
            Create account
          </div>
          <div class="w-48" i18n>
            Join our community and help
            <app-auroral-hyperlink></app-auroral-hyperlink> grow.
          </div>
        </div>
        <div class="w-32"></div>
        <mat-icon class="icon text-secondary-500 opacity-20"
          >person_add</mat-icon
        >
      </div>
      <div class="h-11"></div>
      <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
        <div class="grid gap-4 grid-cols-1 text-center">
          <app-form-field
            label="Full name"
            [leadingSpace]="true"
          ></app-form-field>
          <app-form-field
            label="Email"
            leadingIcon="alternate_email"
          ></app-form-field>
          <div class="h-4"></div>
          <app-form-field
            label="Password"
            [isSecret]="true"
            leadingIcon="lock"
          ></app-form-field>
          <app-form-field
            label="Repeat password"
            [isSecret]="true"
            leadingIcon="lock"
          ></app-form-field>
          <div class="buttons-wrapper grid gap-1 grid-cols-1 text-center">
            <app-button
              text="Sign up"
              type="mat-raised-button"
              theme="accent"
              size="large"
              actionType="submit"
              [loading]="loading"
              class="pt-6 pb-2"
            ></app-button>
            <div i18n>Already have an account?</div>
            <app-hyperlink
              text="Log in"
              [routerLink]="['/auth/login']"
            ></app-hyperlink>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
