<div class="flex items-center">
  <div *ngIf="leadingIcon" class="leading-icon">
    <mat-icon
      class=" {{
        focused
          ? 'text-secondary-500'
          : 'text-primary-500'
      }}"
    >
      {{ leadingIcon }}
    </mat-icon>
  </div>
  <div class="flex flex-col gap-0 text-left">
    <mat-form-field
      appearance="fill"
      floatLabel="never"
      class="form-field"
      color="accent"
    >
      <mat-label *ngIf="label">{{ label }}</mat-label>
      <mat-select
        [formControl]="control!"
        [placeholder]="placeholder ?? ''"
        (focus)="setFocus(true)"
        (blur)="setFocus(false)"
        [required]="required"
        [disableOptionCentering]="true"
      >
        <mat-select-trigger>
          <ng-template
            *ngIf="detailRef && control!.value"
            [ngTemplateOutlet]="detailRef"
            [ngTemplateOutletContext]="{ $implicit: control!.value }"
          ></ng-template>
        </mat-select-trigger>
        <mat-option *ngFor="let element of options" [value]="element">
          <ng-template
            *ngIf="detailRef"
            [ngTemplateOutlet]="detailRef"
            [ngTemplateOutletContext]="{ $implicit: element }"
          ></ng-template>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="text-xs font-regular">
      <ng-content></ng-content>
    </div>
  </div>
</div>
