input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgb(247, 247, 247) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px rgb(247, 247, 247) inset !important;
}

.form-field {
  // min-width: 360px;
  margin-bottom: -1.25em;
}

.leading-icon {
  // margin-top: 16px;
  margin-right: 4px;
}