<div class="flex justify-center h-full">
  <div class="container card-loose">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 md:col-span-12 lg:col-span-3">
        <div>
          <div>
            <app-item-icon [item]="item"></app-item-icon>
            <div class="text-text-600 text-md">{{ item.name }}</div>
          </div>
          <div class="mt-4 section text-base text-black">
            <ng-template *ngIf="descriptionRef" [ngTemplateOutlet]="descriptionRef"></ng-template>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-12 lg:col-span-9">
        <div class="lg:mt-10">
          <p-fieldset legend="Properties">
            <div *ngIf="propsInfoRef"  class="pb-5">
              <ng-template [ngTemplateOutlet]="propsInfoRef"></ng-template>
            </div>
            <div class="grow w-full flex">
              <p-table
                [value]="item.properties ?? []"
                dataKey="pid"
                [filterDelay]="0"
                scrollHeight="61vh"
                [scrollable]="true"
                [resizableColumns]="true"
                [autoLayout]="true"
              >
                <ng-template pTemplate="header">
                  <ng-template *ngIf="propsHeaderRef" [ngTemplateOutlet]="propsHeaderRef"></ng-template>
                </ng-template>
                <ng-template pTemplate="body" let-prop>
                  <ng-template
                    *ngIf="propsBodyRef"
                    [ngTemplateOutlet]="propsBodyRef"
                    [ngTemplateOutletContext]="{ $implicit: prop }"
                  ></ng-template>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <div class="flex flex-col px-4 py-2 justify-start w-36 text-center">
                    <app-sad-face></app-sad-face>
                    No properties found
                  </div>
                </ng-template>
              </p-table>
            </div>
            <div style="height: 48px"></div>
          </p-fieldset>
        </div>
      </div>
    </div>
    <div style="height: 48px"></div>
  </div>
</div>
