<div class="p-4 table-wrarpper flex flex-col">
  <div class="grow bg-white-50">
    <mat-tab-group>
      <mat-tab label="All Items">
        <mat-card>
          <app-table [columns]="allItemsColumns" [fetchData]="fetchAllItems">
            <ng-template #headerCellRef let-columnName>
              <div>{{ columnName | titlecase }}</div>
            </ng-template>
            <ng-template #cellRef let-data let-columnName="columnName">
              <div *ngIf="columnName === 'name'" class="font-medium opacity-50">
                {{ data }}
              </div>
              <div *ngIf="columnName === 'type'" class="opacity-80">
                <app-item-pictogram [name]="data"></app-item-pictogram>
              </div>
              <div *ngIf="columnName === 'owner'">
                <div class="flex items-center gap-2 opacity-80">
                  <app-avatar
                    [name]="data.name"
                    color="grey"
                    [size]="32"
                    class="py-1"
                  ></app-avatar>
                  <div class="font-medium text-xs opacity-40">
                    {{ data.name }}
                  </div>
                </div>
              </div>
              <div *ngIf="columnName === 'subsription'" class="opacity-80">
                <div>Subscription</div>
              </div>
            </ng-template>
            <ng-template #detailRef let-detail>
              <div class="p-64">{{ detail.name }}</div>
            </ng-template>
          </app-table>
        </mat-card>
      </mat-tab>
      <mat-tab label="My Items">
        <mat-card>
          <app-table
            [columns]="myItemsColumns"
            [fetchData]="fetchMyItems"
            emptyMessage="Unfortunately, you do not have any items yet."
            [emptyAction]="{
              buttonMessage: 'Add first item',
              action: myItemsEmpty
            }"
          >
            <ng-template #headerCellRef let-columnName>
              <div>{{ columnName | titlecase }}</div>
            </ng-template>
            <ng-template #cellRef let-data let-columnName="columnName">
              <div *ngIf="columnName === 'name'" class="font-medium opacity-50">
                {{ data }}
              </div>
              <div *ngIf="columnName === 'type'" class="opacity-80">
                <app-item-pictogram [name]="data"></app-item-pictogram>
              </div>
              <div *ngIf="columnName === 'contractors'" class="opacity-80">
                <app-companies-row [companies]="data"></app-companies-row>
              </div>
            </ng-template>
            <ng-template #detailRef let-detail>
              <div class="p-64">{{ detail.name }}</div>
            </ng-template>
          </app-table>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
