<app-table [columns]="columns" [fetchData]="fetchItems">
  <ng-template #headerCellRef let-columnName>
    <ng-container [ngSwitch]="true">
      <div *ngSwitchCase="columnName === 'monitorsCount'">Monitors</div>
      <div *ngSwitchDefault>{{ columnName | titlecase }}</div>
    </ng-container>
  </ng-template>
  <ng-template #cellRef let-data let-columnName="columnName">
    <div *ngIf="columnName === 'name'">
      <div class="flex flex-row items-center">
        <app-item-online
          [online]="data.dataAccess"
          [showLabel]="false"
        ></app-item-online>
        <div class="font-medium opacity-50">
          {{ data.name }}
        </div>
      </div>
    </div>
    <div *ngIf="columnName === 'type'" class="opacity-80">
      <app-item-pictogram [name]="data.type"></app-item-pictogram>
    </div>
    <div *ngIf="columnName === 'owner'">
      <app-item-owner [owner]="data.owner"></app-item-owner>
    </div>
    <div *ngIf="columnName === 'subscribers'" class="opacity-80">
      <app-item-subscribers
        [companies]="data.subscribers"
      ></app-item-subscribers>
    </div>
    <div
      *ngIf="columnName === 'monitorsCount'"
      class="opacity-30 text-xs font-medium"
    >
      <div
        *ngIf="data.propertiesCount <= 0; else elsePropsCount"
        class="opacity-70"
      >
        no properties
      </div>
      <ng-template #elsePropsCount>
        <div class="flex flex-row gap-1">
          <div class="font-bold">{{ data.propertiesCount }}</div>
          properties
          <app-item-subcribers-badge [count]="data.propertySubscriptionsCount">
          </app-item-subcribers-badge>
        </div>
      </ng-template>
      <div
        *ngIf="data.eventsCount <= 0; else elseEventsCount"
        class="opacity-70"
      >
        no events
      </div>
      <ng-template #elseEventsCount>
        <div class="flex flex-row gap-1">
          <div class="font-bold">{{ data.eventsCount }}</div>
          events
          <app-item-subcribers-badge [count]="data.eventSubscriptionsCount">
          </app-item-subcribers-badge>
        </div>
      </ng-template>
    </div>
  </ng-template>
  <ng-template #detailRef let-detail>
    <app-item-detail
      *ngIf="detail"
      [detail]="detail"
      class="w-full"
    ></app-item-detail>
  </ng-template>
</app-table>
