table {
  width: 100%;
}

::ng-deep .mat-column-name {
  width: 20% !important;
}

::ng-deep .mat-column-subscribers {
  width: 20% !important;
}

::ng-deep .mat-column-type,
::ng-deep .mat-column-dataAccess,
::ng-deep .mat-column-monitorsCount,
::ng-deep .mat-column-owner {
  width: 25% !important;
}
