<app-detail [item]="item" back="My Node items">
  <ng-template #descriptionRef>
    <div class="w-72">
      <div class="item-label">Description:</div>
      <div>{{ item.desc }}</div>
    </div>
    <div class="w-72 mt-4">
      <div class="item-label">Owner:</div>
      <div class="mt-1">
        <app-pictogram shape="square" contentColor="white">
          <ng-template #pictogramRef>
            <div>{{ organisation.charAt(0).toUpperCase() }}</div>
          </ng-template>
          <div>
            <div class="leading-none">{{ organisation }}</div>
            <div class="flex gap-1 items-center mt-1">
              <i class="pi pi-user" style="font-size: 0.9rem"></i>
              <div class="text-sm leading-none">(your org)</div>
            </div>
          </div>
        </app-pictogram>
      </div>
    </div>
  </ng-template>
  <ng-template #propsHeaderRef>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Data Type</th>
      <th>Data Units</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template #propsBodyRef let-prop>
    <tr>
      <td style="width: 20%">
        <div *ngIf="prop.name">
          {{ prop.name }}
        </div>
        <div *ngIf="!prop.name">
          <i class="pi pi-minus text-text-300" style="font-size: 0.8rem"></i>
        </div>
      </td>
      <td style="width: 20%">
        <div *ngIf="prop.type">
          {{ prop.type }}
        </div>
        <div *ngIf="!prop.type">
          <i class="pi pi-minus text-text-300" style="font-size: 0.8rem"></i>
        </div>
      </td>
      <td style="width: 20%">
        <div *ngIf="prop.datatype">
          {{ prop.datatype }}
        </div>
        <div *ngIf="!prop.datatype">
          <i class="pi pi-minus text-text-300" style="font-size: 0.8rem"></i>
        </div>
      </td>
      <td style="width: 20%">
        <div *ngIf="prop.dataunits">
          {{ prop.dataunits }}
        </div>
        <div *ngIf="!prop.dataunits">
          <i class="pi pi-minus text-text-300" style="font-size: 0.8rem"></i>
        </div>
      </td>
      <td style="width: 20%">
       <app-consume-prop [oid]="item.oid" [item]="item" [prop]="prop"></app-consume-prop>
      </td>
    </tr>
  </ng-template>
</app-detail>
