<button
  mat-button
  [ngClass]="type"
  [color]="theme"
  [class]="size"
  [disabled]="disabled || loading"
  [type]="actionType"
  [ngStyle]="style"
>
  <div *ngIf="loading; else elseBlock" class="flex justify-center items-center">
    <mat-spinner [color]="theme" [diameter]="size === 'small' ? 20 : 24"></mat-spinner>
  </div>
  <ng-template #elseBlock i18n>
    <div class="flex flex-row justify-center items-center gap-1 leading-1 px-4 tracking-wider">
      <div [ngClass]="type === 'mat-button' ? 'text-text' : 'text-white'">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>
</button>
