@import "styles";

.small {
  @apply text-xs;
  width: 96px;
  height: 36px;
}

.medium {
  width: 188px;
  height: 40px;
}

.large {
  width: 240px;
  height: 48px;
}

.mat-stroked-button.mat-accent {
  border: solid 1px $accent;
}

.mat-stroked-button.mat-primary {
  border: solid 1px $primary;
}

.mat-stroked-button.mat-warn {
  border: solid 1px $warn;
}

.mat-stroked-button.mat-button-disabled.mat-button-disabled {
  border: solid 1px $disabled;
}

:host(.disabled) {
  // Disable click event.
  pointer-events: none;
}

:host(.enabled) {
  pointer-events: all;
}