<mat-sidenav-container class="bg-primary-50" hasBackdrop="false">
  <mat-sidenav
    #drawer
    fixedInViewport="true"
    mode="side"
    opened="true"
    class="bg-primary-500 w-44"
  >
    <app-logo></app-logo>
    <div style="height: 24px"></div>
    <app-nav-button path="menu-item-1" name="Menu Item 1" icon="list"></app-nav-button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="h-screen">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
