<div class="flex items-start">
  <div *ngIf="leadingIcon" class="leading-icon">
    <mat-icon
      class=" {{
        focused
          ? 'text-secondary-300 opacity-100'
          : 'text-primary-500 opacity-60'
      }}"
    >
      {{ leadingIcon }}
    </mat-icon>
  </div>
  <div *ngIf="leadingSpace" class="w-12"></div>
  <div class="flex flex-col gap-0 text-left">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>{{ label }}</mat-label>
      <input
        matInput
        [placeholder]="placeholder ?? ''"
        [type]="visible ? 'text' : 'password'"
        [value]="value"
        (change)="value = $any($event.target).value"
        (focus)="setFocus(true)"
        (blur)="setFocus(false)"
        [required]="required"
      />
      <mat-icon
        *ngIf="isSecret"
        class="text-primary-500 opacity-60 cursor-pointer"
        (click)="toggleVisibility()"
        matSuffix
        >{{ visible ? "visibility_off" : "visibility" }}</mat-icon
      >
      <mat-hint *ngIf="hint"> {{ hint }}</mat-hint>
    </mat-form-field>
    <div class="font-regular">
      <ng-content></ng-content>
    </div>
  </div>
</div>
