<div class="w-fill">
  <div class="wrapper">
    <div *ngIf="pictogramRef" class="pictogram">
      <div
        [ngClass]="[
          'bg-dialogGrey border-4 border-white flex items-center justify-center leading-none',
          shape === 'rounded' ? 'rounded-full': 'rounded-sm',
          size === 'small' ? 'small-w' : 'normal-w',
          size === 'small' ? 'small-h' : 'normal-h'
        ]"
        [style.background]="pictogramColor ? pictogramColor : ''"
      >
        <ng-template *ngIf="pictogramRef" [ngTemplateOutlet]="pictogramRef"> </ng-template>
      </div>
    </div>
    <div class="content">
      <div
        [ngClass]="[
          'bg-lightGrey rounded-sm break-words leading-loose whitespace-normal',
          size === 'small' ? 'pr-2' : 'pr-4',
          size === 'small' ? 'small-h' : 'normal-h',
          pictogramRef ? (size === 'small' ? 'pl-8' : 'pl-10') : '',
          pictogramRef ? ( size === 'small' ? 'ml-4 pt-1 pb-0.5': 'ml-5 py-2.5') : ''
        ]"
        [style.background]="contentColor ? contentColor : ''"
        style="min-width: 96px"
      >
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
