<div>
  <div class="h-12 flex gap-4 items-center">
    <div *ngIf="tableControlRef">
      <ng-template [ngTemplateOutlet]="tableControlRef"> </ng-template>
    </div>
    <div *ngIf="showSearch">
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="search($event)"
          placeholder="Search for item..."
          style="width: 200px; height: 44px"
        />
      </span>
    </div>
  </div>
  <div>
    <div *ngIf="showTable">
      <div *ngIf="loadingData; else elseTableBlock">
        <div class="flex justify-center items-center h-64">
          <app-spinner></app-spinner>
        </div>
      </div>
      <ng-template #elseTableBlock>
        <div class="flex gap-4 mt-6">
          <div class="w-full fade-bottom">
            <p-table
              #dt
              [value]="itemsUI"
              selectionMode="single"
              dataKey="oid"
              [filterDelay]="0"
              class="selectable-table"
              styleClass="p-datatable-sm"
              [scrollable]="true"
              scrollDirection="both"
              scrollHeight="calc(100vh - 368px)"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Name</th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr [routerLink]="linkToDetail" [state]="combineState(item)">
                  <td>
                    <div class="w-fit">
                      <app-item-pictogram [item]="item"></app-item-pictogram>
                    </div>
                  </td>
                  <td>
                    <div class="flex justify-end mr-4">
                      <i class="pi pi-chevron-right text-primary-500" style="font-size: 1rem"></i>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="itemsUI.at(-1) === item" class="pointer-events-none">
                  <div class="w-full h-8"></div>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td>
                    <div class="flex flex-col justify-start w-36 text-center">
                      <app-sad-face></app-sad-face>
                      No items found
                    </div>
                  </td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div *ngIf="showTable && !loadingData" class="card-dense w-72 h-fit">
            <div class="item-label">Filter by type:</div>
            <div class="mt-4">
              <div class="flex flex-col gap-4 pb-4">
                <div class="flex align-items-center">
                  <p-radioButton
                    name="type-filter"
                    value="All"
                    [(ngModel)]="selectedFilter"
                    (onClick)="filter()"
                    inputId="all"
                  ></p-radioButton>
                  <label for="all" class="ml-2 cursor-pointer w-24"> All </label>
                </div>

                <div class="flex align-items-center">
                  <p-radioButton
                    name="type-filter"
                    value="Device"
                    [(ngModel)]="selectedFilter"
                    (onClick)="filter()"
                    inputId="devices"
                  ></p-radioButton>
                  <label for="devices" class="ml-2 cursor-pointer"
                    ><div class="flex items-center gap-2">
                      <div class="w-5">
                        <fa-icon [ngStyle]="{ color: '#4D8A8C' }" icon="satellite-dish"></fa-icon>
                      </div>
                      <div class="leading-none">Devices</div>
                    </div></label
                  >
                </div>

                <div class="flex align-items-center">
                  <p-radioButton
                    name="type-filter"
                    value="Service"
                    [(ngModel)]="selectedFilter"
                    (onClick)="filter()"
                    inputId="services"
                  ></p-radioButton>
                  <label for="services" class="ml-2 cursor-pointer"
                    ><div class="flex items-center gap-2">
                      <div class="w-5">
                        <fa-icon [ngStyle]="{ color: '#E5B38E' }" icon="cloud"></fa-icon>
                      </div>
                      <div class="leading-none">Services</div>
                    </div></label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
