<div class="pb-16">
  <app-pictogram name="Data service" type="service"></app-pictogram>
  <div class="h-2"></div>
  <div class="text-md font-normal opacity-80 w-56 break-words">
    {{ detail.name }}
  </div>
  <app-copy-to-clipboard message="Oid copied to clipboard" [value]="detail.oid">
    <div class="opacity-20 font-medium text-xs">
      <span class="noselect cursor-default">oid: </span>{{ detail.oid }}
    </div>
  </app-copy-to-clipboard>
  <div class="h-1"></div>
  <div class="flex flex-row justify-between items-end">
    <div class="flex flex-col gap-4">
      <app-item-online [online]="detail.online" class="pb-2"></app-item-online>
      <div class="item" *ngIf="detail.description">
        <div class="label">Description:</div>
        <div class="content">
          <div class="opacity-30 font-medium w-64 text-xs">
            {{ detail.description }}
          </div>
        </div>
      </div>
      <div class="item">
        <div class="label">Parent node:</div>
        <div class="content">
          <app-pictogram
            [name]="detail.node.name"
            type="node"
            [extraInfo]="detail.node.base"
          ></app-pictogram>
        </div>
      </div>
      <div class="item">
        <div class="label">Url:</div>
        <div class="pl-1 -mt-1">
          <app-copy-to-clipboard
            message="Url copied to clipboard"
            [value]="detail.base"
          >
            <div class="opacity-30 font-medium text-xs">
              {{ detail.base }}
            </div>
          </app-copy-to-clipboard>
        </div>
      </div>
      <div class="w-80"></div>
    </div>
    <div class="grow"></div>
    <app-button theme="warn" size="small" (click)="openDeleteDataService()"
      ><mat-icon class="icon">delete</mat-icon>
      <div>Delete</div></app-button
    >
  </div>
</div>
