<app-detail [item]="item" back="Community items">
    <ng-template #descriptionRef>
      <div class="item w-72">
        <div class="item-label">Description:</div>
        <div>{{ item.desc }}</div>
      </div>
    </ng-template>
    <ng-template #propsHeaderRef>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Data Type</th>
        <th>Data Units</th>
      </tr>
    </ng-template>
    <ng-template #propsBodyRef let-prop>
      <tr>
        <td style="width: 25%">
          <div *ngIf="prop.name">
            {{ prop.name }}
          </div>
          <div *ngIf="!prop.name">
            <i class="pi pi-minus text-text-300" style="font-size: 0.8rem"></i>
          </div>
        </td>
        <td style="width: 25%">
          <div *ngIf="prop.type">
            {{ prop.type }}
          </div>
          <div *ngIf="!prop.type">
            <i class="pi pi-minus text-text-300" style="font-size: 0.8rem"></i>
          </div>
        </td>
        <td style="width: 25%">
          <div *ngIf="prop.datatype">
            {{ prop.datatype }}
          </div>
          <div *ngIf="!prop.datatype">
            <i class="pi pi-minus text-text-300" style="font-size: 0.8rem"></i>
          </div>
        </td>
        <td style="width: 25%">
          <div *ngIf="prop.dataunits">
            {{ prop.dataunits }}
          </div>
          <div *ngIf="!prop.dataunits">
            <i class="pi pi-minus text-text-300" style="font-size: 0.8rem"></i>
          </div>
        </td>
      </tr>
    </ng-template>
  </app-detail>