<div class="w-56">
  <app-pictogram shape="square">
    <ng-template #pictogramRef>
      {{ organisation.charAt(0).toUpperCase() }}
    </ng-template>
    <div class="w-36">{{ organisation }}</div>
  </app-pictogram>
</div>
<div class="grow mt-4">
  <div>
    <div class="card-loose">
      <div>
        <form [formGroup]="form">
          <div class="item-label pb-2">Query:</div>
          <app-sparql-editor formControlName="query"></app-sparql-editor>
        </form>
      </div>
      <div class="mt-2 ml-2" #result>
        <p-button label="Execute query" icon="pi pi-database" (click)="executeQuery()" [loading]="loading"></p-button>
      </div>
      <div>
        <div *ngIf="queryResult && !loading">
          <div class="border-l mt-4 py-4 ml-2 border-borderGrey">
            <div class="ml-8">
              <p-fieldset legend="Result">
                <pre>{{ queryResult | json }}</pre>
              </p-fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
