<div *ngIf="loading; else elseBlock" class="flex items-center justify-center">
  <app-spinner></app-spinner>
</div>

<ng-template #elseBlock>
  <div>
    <div class="relative">
      <div class="absolute right-3 top-10">
        <p-button icon="pi pi-copy" styleClass="p-button-rounded p-button-text"></p-button>
      </div>
      <div>
        <p-fieldset [legend]="prop.name ?? 'Property'">
          <div class="overflow-y-auto">
            <pre>{{ data | json }}</pre>
          </div>
        </p-fieldset>
      </div>
    </div>
    <div class="h-8"></div>
  </div>
</ng-template>
