<div mat-dialog-title>
  <app-pictogram name="Data Service" type="service"></app-pictogram>
  <div class="opacity-40">Create Data Service</div>
</div>
<div mat-dialog-content>
  <div class="w-fit h-80">
    <form [formGroup]="form">
      <div class="flex flex-col gap-4 items-start px-4">
        <app-text-field
          [control]="name"
          label="Name"
          placeholder="Tourism monitor"
        >
          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <mat-error *ngIf="name.hasError('required')"
              >Please provide the name</mat-error
            >
          </div>
        </app-text-field>
        <app-text-area [control]="description" label="Description">
          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <mat-error *ngIf="description.hasError('required')"
              >Please provide some description</mat-error
            >
          </div>
        </app-text-area>
        <app-url-field [control]="url" [protocol]="protocol" label="Url">
          <div *ngIf="url.invalid && (url.dirty || url.touched)">
            <mat-error *ngIf="url.hasError('required')"
              >Please provide the url</mat-error
            >
          </div>
        </app-url-field>
        <app-single-select
          [control]="node"
          label="Node"
          placeholder="Please select node"
          [options]="nodes"
        >
          <ng-template #detailRef let-detail>
            <app-pictogram
              [name]="detail.name"
              type="node"
              textStyleClasses="text-xs font-normal"
              class="opacity-60"
            ></app-pictogram>
          </ng-template>
          <div *ngIf="node.invalid && (node.dirty || node.touched)">
            <mat-error *ngIf="node.hasError('required')"
              >Please select node</mat-error
            >
          </div>
        </app-single-select>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions class="justify-end">
  <div class="px-8 py-6 flex justify-end">
    <app-button
      theme="warn"
      size="medium"
      type="mat-stroked-button"
      (click)="close()"
      [disabled]="loading"
      actionType="submit"
      >Cancel</app-button
    >
    <div class="w-4"></div>
    <app-button
      theme="accent"
      size="medium"
      [disabled]="loading"
      [loading]="loading"
      (click)="createDataService()"
      >Create</app-button
    >
  </div>
</div>
