<div [ngClass]="[type === 'vertical' ? 'flex' : '']">
  <div class="bg-lightGrey rounded-sm max-w-fit overflow-x-hidden p-1">
    <div [ngClass]="[type === 'horizontal' ? 'overflow-x-auto gap-1' : 'flex-col', 'flex gap-1 px-1 py-1']">
      <div *ngFor="let item of menuItems$ | async">
        <div class="w-52 text-center">
          <div
            [ngClass]="[
              'rounded-sm',
              activeItem === item ? 'bg-white' : 'hover:bg-whitesmoke',
              'px-2',
              'py-2',
              'cursor-pointer'
            ]"
            [style]="activeItem === item ? 'border: 1px solid #dee2e6' : 'border: 1px solid transparent'"
            (click)="selectItem(item)"
          >
            <div class="break-words">
              <ng-container *ngIf="item.labelComponent">
                <ng-container *ngTemplateOutlet="item.labelComponent.labelContent"> </ng-container>
              </ng-container>
              <ng-container *ngIf="!item.labelComponent">
                {{ item.label }}
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="['']">
    <ng-container *ngIf="activeItem && activeItem.bodyComponent">
      <ng-container *ngTemplateOutlet="activeItem.bodyComponent.bodyContent"> </ng-container>
    </ng-container>
  </div>
</div>
